// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Heading font family
/// @type List
$heading-font: "Big Shoulders", sans-serif !default;

/// Text font family
/// @type List
$text-font:"Outfit", sans-serif !default;

/// Gold color
/// @type Color
$gold: #D5966C !default;

/// Black color
/// @type Color
$black: #151515 !default;

/// Grey color
/// @type Color
$grey: #444444 !default;

/// White color
/// @type Color
$white: #FFFFFF !default;



//Breakpoints
$bp-tablet: 768px;
$bp-desktop: 1024px;
$max-width: 1200px;
