// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: "Poppins", sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack:
  "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Monaco",
  monospace !default;

/// Gold color
/// @type Color
$gold: #D5966C !default;

/// Black color
/// @type Color
$black: #151515 !default;

/// Grey color
/// @type Color
$grey: #444444 !default;

/// White color
/// @type Color
$white: #FFFFFF !default;



//Breakpoints
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;
$max-width: 1200px;
