// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
@use "../abstracts/" as *;
.footer {

  &--dark {
    background-color: $black;
    color: $white;
  }

  &--orange {
    background-color: $gold;
    color: $black;
    svg path{
      fill: $black;
    }
  }

  &__container {
    padding: 48px 32px;
    display: flex;
    flex-direction: column;
    gap: 38px;
    @include breakpoint(tablet) {
      flex-direction: row;
      padding: 60px 40px;
      gap:0px
    }
  }

  &__logo {}

  &__logo-link {}

  &__text {
    @include text-style("body-s");
    @include breakpoint(tablet) {
      max-width:330px;
      margin-left: auto;
      padding-right: 40px;
      margin-right: auto;
    }
  }

  &__social {
    display: flex;
    gap: 20px;
  }

  &__social-item {}

}
