@use "../abstracts" as *;

/**
 * Basic typography style for copy text
 */

$typography-scale: (
  "heading-xl": (
    font-family: $font-heading,
    font-size: 96px,
    line-height: 88px,
    font-weight: 900
  ),
  "heading-l": (
    font-family: $font-heading,
    font-size: 60px,
    line-height: 56px,
    font-weight: 800
  ),
  "body-m": (
    font-family: $font-body,
    font-size: 18px,
    line-height: 28px,
    font-weight: 400
  ),
  "body-s": (
    font-family: $font-body,
    font-size: 18px,
    line-height: 28px,
    font-weight: 400
  )
);
