@use "../abstracts/variables" as *;

/**
 * Basic typography style for copy text
 */

$typography-scale: (
  "heading-xl": (
    font-family: $heading-font,
    font-size: 89px,
    line-height: 88px,
    font-weight: 900,
    text-transform: uppercase,
  ),
  "heading-l": (
    font-family: $heading-font,
    font-size: 70px,
    line-height: 70px,
    font-weight: 900,
    text-transform: uppercase,
  ),
  "heading-m": (
    font-family: $heading-font,
    font-size: 60px,
    line-height: 50px,
    font-weight: 900,
    text-transform: uppercase,
  ),
  "heading-s": (
    font-family: $heading-font,
    font-size: 36px,
    line-height: 36px,
    font-weight: 900,
    text-transform: uppercase,
  ),
  "body-m": (
    font-family: $text-font,
    font-size: 22px,
    line-height: 32px,
    font-weight: 400,
    text-transform:none,
  ),
  "body-s": (
    font-family: $text-font,
    font-size: 18px,
    line-height: 28px,
    font-weight: 400,
    text-transform: none,
  ),
);
