@use "../abstracts/" as *;
.gallery-intro{
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 11px;
  @include breakpoint(tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
  @include breakpoint(desktop) {
    margin-bottom: 30px;
  }

  &__image {
    &--mobile {
      width: 100%;
      height: auto;
      @include breakpoint(tablet) {
        display: none;
      }

    }
    &--tablet {
      display: none;
      @include breakpoint(tablet) {
        display: block;
        flex:1;
        min-width: 0;
        max-width: 560px;
      }
      @include breakpoint(desktop) {
        display: none;
      }
    }
    &--desktop {
      display: none;
      @include breakpoint(desktop) {
        display: block;
        flex:1;
        min-width: 0;
        max-width: 635px;
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 21px;
    @include breakpoint(tablet) {
      order:-1;
      margin-top: auto;
      margin-bottom: auto;
      max-width: 260px;
    }
    @include breakpoint(desktop) {
      max-width: 360px;
    }
  }

  &__title {
    @include text-style("heading-m");
    color:$black;
    @include breakpoint(desktop) {
      @include text-style("heading-m");

    }
  }

  &__description {
    @include text-style("body-s");
    color: $grey;
    margin-right: 6%;
    @include breakpoint(desktop) {
      @include text-style("body-m");

    }
  }
}


