@use "../abstracts/" as *;
.gallery-intro{
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 32px;
  @include breakpoint(tablet) {
    flex-direction: row;
    justify-content: space-between;
  }

  &__image {
    &--mobile {
      width: 100%;
      height: auto;
      @include breakpoint(tablet) {
        display: none;
      }

    }
    &--tablet {
      display: none;
      @include breakpoint(tablet) {
        display: block;
        flex:1;
        min-width: 0;
        max-width: 560px;
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 21px;
    @include breakpoint(tablet) {
      order:-1;
      margin-top: auto;
      margin-bottom: auto;
      max-width: 260px

    }
  }

  &__title {
    @include text-style("heading-m");
    color:$black;
  }

  &__description {
    @include text-style("body-s");
    color: $grey;
    margin-right: 6%;
  }
}


