@use "../abstracts/" as *;
.gallery-invitation {
  display:flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 120px;
  @include breakpoint(tablet) {
    display: grid;
    grid-template-columns: auto 40%;
    grid-template-rows: auto auto;
    align-items: stretch;
  }

  &__image {
    width: 100%;

    &--primary{
      @include breakpoint(tablet) {
        display: none;
      }
    }
    &--primary-tablet{
      display: none;
      @include breakpoint(tablet) {
        display: block;
        grid-column: 1 / 2;
        grid-row: 1 / 3;
      }
    }

    &--secondary {
      @include breakpoint(tablet) {
        display: none;
      }
    }
    &--secondary-tablet{
      display: none;
      @include breakpoint(tablet) {
        display: block;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }
    }
  }

  &__text {
    display:flex;
    flex-direction: column;
    background-color: $black;
    padding: 48px 24px;
    gap: 24px;
    @include breakpoint(tablet) {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      padding-left: 30px;
      justify-content: center;
    }
  }

  &__title {
    @include text-style("heading-m");
    color: $white;
    @include breakpoint(tablet){
      font-size: 50px;
      max-width: 250px;
    }
  }

  &__description {
    @include text-style("body-s");
    color: $white;
    @include breakpoint(tablet){
      max-width: 275px;
    }
  }
}
