@use "../abstracts/" as *;
main {
  display: flex;
  flex-direction: column;

  .button {
    position: absolute;
    top:0;
    left:0;
    @include breakpoint(tablet){
      margin-left: 40px;
    }
  }
}

.location-map {
  width:100%;
  height: auto;

  &__image--mobile{
    width:100%;
    height: auto;
    @include breakpoint(tablet){
      display: none;
    }

  }

  &__image--tablet {
    display: none;
    @include breakpoint(tablet){
      display: block;
      width: 100%;
      height: auto;
    }
    @include breakpoint(desktop) {
      display: none;
    }
  }

  &__image--desktop {
    display: none;
    @include breakpoint(tablet) {
      display: none;
    }
    @include breakpoint(desktop){
      display: block;
      width: 100%;
      height: auto;
    }
  }

}

.location-info{
  display: flex;
  flex-direction: column;
  padding-left:  16px;
  padding-right: 16px;
  font-style: normal;
  background-color: $black;
  color: $white;
  @include breakpoint(tablet){
    padding-left: 40%;
    padding-top: 88px;
    padding-bottom: 80px;
    position: relative;
  }
  @include breakpoint(desktop) {
      display:block;
      padding: initial;
      padding-top:105px;
      padding-bottom: 130px;
    }

  &__container {
    @include breakpoint(desktop) {
      max-width: 1200px;
      margin: 0 auto;
      padding:0 40px;
      display:grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto auto;
    }
  }

  &__title {
    padding-top: 48px;
    padding-bottom: 48px;
    @include text-style("heading-m");
    @include breakpoint(tablet){
      position: absolute;
      left: 40px;
      width: 230px;
      top: 45px;
    }
  }

  &__street {
    @include text-style("heading-s");
    color: $gold;
    padding-bottom: 20px;
  }

  &__postal-code {
    padding-bottom: 20px;
    @include text-style("body-s");
  }

  &__description {
    padding-bottom: 56px;
    @include text-style("body-s");
    @include breakpoint(tablet){
      max-width: 400px;
    }
  }

}
